[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
ignore = ANN101,E501,S301,S403,W503
max-complexity = 10
max-line-length = 80
application-import-names = utils
import-order-style = google
per-file-ignores = tests/*:S101,**/main.py:DAR101
docstring-convention = google
ignore-decorators = overrides
